<section>
    <h1>About Me</h1>
    <p>Blockchain consensus R&D lead @ https://www.truechain.pro/; Software Dev[oops], Performance Engg & Scale R&D @ Red Hat; Percussionist by eve; A: 0x2a</p>
    <ul>
      <li>Twitter: <a href="http://twitter.com/arcolife">@arcolife</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/arcolife">Archit Sharma</a></li>
      <li>Portfolio: <a href="http://arcolife.github.io/intro/">Click for updates</a></li>
      <li>Keybase: <a href="https://keybase.io/archit">Verify my social networks</a></li>
    </ul>    
</section>
