<section>
    <h1>About Me</h1>
    <p>SRE @ meetCasperLabs, ex-blockchain consensus R&D lead @ https://www.truechain.pro/, ex-perf&scale @ redhatcloud;
      Percussionist by eve; My tweets could be yours, in an alternate reality.</p>
    <ul>
      <li>Twitter: <a href="http://twitter.com/arcolife">@arcolife</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/arcolife">Archit Sharma</a></li>
      <li>Portfolio: <a href="http://arcolife.github.io/intro/">Click for updates</a></li>
      <li>Keybase: <a href="https://keybase.io/archit">Verify my social networks</a></li>
    </ul>    
</section>
